.env
__pycache__
.venv
jacksen-server-d619150a8737.json
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
firebase-debug.*.log*

.firebase/


# Runtime data
pids
*.pid
*.seed
*.pid.lock


lib-cov

coverage
.nyc_output

.grunt

bower_components

.lock-wscript

build/Release

node_modules/

.npm

.eslintcache

.node_repl_history

*.tgz

.yarn-integrity

.env

.dataconnect

credentials

test/